<h1><%= @product_category.product_type %></h1>
<h2>Products</h2>
<ul>
  <% @makeup_product.each do |product| %>
    <h1><%= product.product_name %></h1>
<p><%= product.description %></p>
<p>Brand: <%= product.brand.brand_name %></p>
<p>Category: <%= product.product_category.product_type %></p>
<p>Price: <%= number_to_currency(product.price, unit: "$") %></p>
<p>Tags: <%= product.tag_list %></p>
<p><%= image_tag product.api_featured_image %></p>
  <% end %>
</ul>
