<div class="card">
  <div class="columns is-multiline">
    <!-- For larger screens (desktop) -->
    <div class="column is-half">
      <div class="media">
        <div class="media-content">
          <div class="card-content">
            <h1 class="title"><%= @makeup_product.product_name %></h1>
            <p>
              <strong>Brand:</strong> <%= @makeup_product.brand.brand_name %>
            </p>
            <p>
              <strong>Category:</strong> <%= @makeup_product.product_category.product_type %>
            </p>
            <p>
              <strong>Price:</strong> <%= number_to_currency(@makeup_product.price, unit: "$") %>
            </p>
            <p>
              <strong>Description:</strong> <%= @makeup_product.description %>
            </p>
            <% if @makeup_product.product_tags.include?("Vegan") %>
            <figure class="image">
              <%= image_tag 'vegan_icon.png', style: 'width: 64px; height: 64px;' %>
            </figure>
            <% end %>
            <% if @makeup_product.product_tags.include?("cruelty free") %>
            <figure class="image">
              <%= image_tag 'cruelty_free_icon.png', style: 'width: 64px; height: 64px;' %>
            </figure>
            <% end %>
            <% if @makeup_product.product_tags.include?("Canadian") %>
            <figure class="image">
              <%= image_tag 'canadian_icon.png', style: 'width: 64px; height: 64px;' %>
            </figure>
            <% end %>
            <%= form_with(url: cart_add_path) do |f| %>
              <%= f.hidden_field :id, value: @makeup_product.id %>
              <%= f.number_field :quantity, value: 0, min: 1 %>
              <%= f.submit "Add To Cart" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>




    <div class="column is-half">
      <div class="media-card">
        <div class="media-right">
          <figure class="image">
            <%= image_tag @makeup_product.api_featured_image, class:
            "product-image" %>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-6">
  <h1 class="title is-4 has-text-danger">You might like!</h1>
    <div class="columns is-multiline">
      <% @makeup_product.brand.makeup_products.limit(4).each do |related_product| %>
        <%= render 'layouts/product_card', makeup_product: related_product %>
      <% end %>
    </div>
</div>
